/* * {
    outline: red 1px solid;
} */

#locationForm {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: fit-content;
}
#locationForm input {
    width: 100%;
    margin: 5px 0;
}
#inputError {
    color: #f14f4f;
}

.attendance-view_columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    width: 90%;
    height: 60%;
}